@charset "utf-8";
/**
 * @file 			2023-PICK
 *
 * The selector below is used to keep this template from interfering with other
 * promotional pages. The ID (#main) should remain the same but the class (.holiday)
 * should be changed for each new promotion.
 *
 * HINT: Perform and "find and replace all" for and replace with
 * #main.(new_promo) before modifying the new template.
 */
{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px;
}

/*
 * Page headings and standard links
 */
h1 {
	color: #713860;
	font-size: 2em;
	border-bottom: 1px solid #00492e;
	text-transform: uppercase;
}
h2 { 
	color: #2f5d79;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
}
h3 { font-weight: bold; 
	color: #000000;
	font-size: 1.2em;
	text-align: left; text-transform: uppercase;
}

a {
	color: #89110e;
	text-decoration: none;
}
a:hover {
	color: #00492e;
}
a:active, a:link  {
    color: #89110e;
    font-weight: bold;
    outline: none;
}
a:visited {
    color: #00492e;
    font-weight: bold;
    outline: none;
}

#mainContentWrap {
	padding: 0px 20px;
}

/**
 * Navigation menu
 */
#gameNav {
background-color:  #713860;
}

#gameNav ul,
#gameNav ul a:link,
#gameNav ul a:visited {
	color: #fff;
}

#gameNav ul li {
	border-right: 1px #fff solid;
	border-left: 1px #fff solid;
}

#gameNav ul li.active span,
#gameNav ul li.active span {
	color: #fff;
}

#gameNav ul a:hover span {
	color: #fecf5c;
	text-decoration: underline !important;
}

#gameNav ul a.pick:hover span {
	color: #E44360;
}

#gameNav ul li.inactive span {
	color: #CCC;
}

/**
 * Table styles
 */
table.dataTbl {
	word-wrap: normal;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	-webkit-box-shadow: none;
	-webkit-border-radius: 0px;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px;
}

table.dataTbl th{
	background-color: #713860;
	color: #fff;
	padding: 10px;
	border-bottom: 1.5px solid #063E53;
}

table.dataTbl td{
	padding: 10px;
}

tr.bogo {
	background: #F7F7F7;
	border: none;
}

tr.fireball {
	background: #E7E7E7;
	border: none;
}

table.winners {
	width: 100%; margin: 30px auto 25px;
	padding: 0px;
	text-align: center;
	background: #fff;
    border: 2px solid rgb(0, 0, 0);
	box-shadow: 2px 2px 3px rgb(51, 51, 51);
	border-collapse: separate;
	border-spacing: 0px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

th.entryPer {
	background: linear-gradient(to bottom,  #0093A5 2%, #4CC0BA 98%);
}

table.winners td, table.winners th {text-align: center; vertical-align: middle; padding-left: 10px;}

.winnersReport {width: 97%; margin: 0 auto;}

.winnersReport h1.title {
	font-size: 16px;
	margin: 10px 0 6px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	border-bottom: none;
	color: #00492e;
}

/**
 * Sample Ticket
 */

div#mainContent div#sampleTicket { float: right; text-align: right; margin: -15px -10px 20px 20px; padding: 5px; position: relative; }
div#sampleTicket p { text-align: center; font-weight: bold; margin: 0;}
div#mainContent div#sampleTicket p.tktSmall1 { margin-top: -40px; width:100px; font-size: 12px; }
div#mainContent div#sampleTicket p.tktSmall2 { margin-top: 6px; padding-left: 120px; width: 175px; font-size: 9px; }

div#top {
	display: grid;
}
div.top_words {
	grid-column: 1/3;
	grid-row: 1/2;
}
div.bot_words {
	grid-column: 2/4;
	grid-row: 2/2;
}
div.top_img_right {
	grid-column: 4/5;
	grid-row: 1/5;
}
div.top_img_left {
	grid-column: 3/4;
}
div.bot_img {
	grid-column: 1/2;
	grid-row: 2/4;
}
div.bot_footer {
	grid-column: 2/5;
	grid-row: 3/4;
}

div#fields {position: absolute; left: -30px;}
div#instructions {position: relative;}
div#mainContent div#sampleTicket2 {position: absolute; right:220px; display: inline-block; align-self: flex-end; z-index: -1;}

form#ticketEntryForm { margin: 20px 2px 20px 40px;}
form#ticketEntryForm input.tktNumber {border: 2px solid #000; margin: 0px 2px 2px 20px; width:180px; text-transform:uppercase; text-align:center;}
form#ticketEntryForm input.tktNumberPin {border: 2px solid #000; width:100px; text-transform:uppercase; text-align:center;}
form#ticketEntryForm p.ticketNumberNote {font-size: 11px; margin: -10px 0 0 20px;}
form#ticketEntryForm span.tktNumber {margin: -10px 0 0 110px}
form#ticketEntryForm input.promoCode { border: 2px solid #000; margin: 20px 2px 5px 0; width:200px; text-transform:uppercase; text-align:center;}
form#ticketEntryForm p.promoCodeNote, span.promoCodeNote { font-size: 11px; margin: -10px 0 0 70px;}

form#ticketEntryForm input.ticketSubmit, form#ticketEntryForm button.ticketSubmit {
  background: linear-gradient(to bottom,  #5c2566 2%, #99337d 98%);
  height: 24px;
  color: #fff !important;
  border-radius: 1px;
}

h2.tktEntry {position: absolute; bottom: 335px; color: #231F20; margin: 30px 0 -20px 0; font-size: 120%; font-weight: bold; text-align: left; text-transform: none; width:100%;}
table.dataTbl tbody tr td.row_2 {text-align: center; padding: 12px; font-weight: bold; font-size:14px;}
h2.tktEntry span { color: #231F20;}

h1.title {
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0px 6px;
	text-align: center;
}

h2.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  color:#07366A;
}

.xmulti{ margin-top: 800px;
}

p.winReportNote {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	margin: 8px 5px 10px;
}

p.hours {
	 color: #572564;
	 font-size: 130%;
	 font-weight: bold;
	 text-align: center;
	 text-transform: uppercase;
}

div#subNav { margin: 10px -50px 0 0; width: 290px; }

#subNavContent { width: 230px; color: #2F5D79; }

#subNavContent h3 {
	color: #2F5D79;
}

#subNavContent ul li {
	color: #2F5D79;
}
#subNavContent ul a {
	color: #2F5D79;
}
#subNavContent ul a:hover {
	color: #fecf5c;
}
#subNavContent ul a:visited {
	color: #2F5D79;

	/*text-shadow: 1px 1px 2px rgb(17, 17, 17); */
}
.winnersReport h2.subtitle {
	color: #00492e;
}
.toIframe ul a:visited {
	color: #F9E48C;
}

table.Rules th{
	background-color: #713860;
	color: #fff;
	font-weight:bold;
	padding-top: 10px;
	height: 40px;
}

table.Rules tr:nth-child(even){
	background-color: #744063;
}

table.Rules2 th {
	background-color: #713860;
	color: #fff;
	font-weight:bold;
	padding-top: 10px;
	height: 20px;
	width: 200px;
}

table.inorder td,
table.inorder th {
  padding: 0.125em 0.25em;
  width: 8em;
}

table.inorder th {
  font-weight: bold;
  position: relative;
}

table.inorder th.no-sort {
  padding-top: 0.35em;
}

table.inorder th:nth-child(5) {
  width: 10em;
}

table.inorder th button {
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  background-color: #744063;
  color: #025264;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
}

table.inorder th button span {
  position: absolute;
  right: 4px;
  border: none;
  outline: none;	
}

table.inorder th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.inorder th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
  border: none;
  outline: none;	
}

table.inorder td.num {
  text-align: right;
}

table.inorder tbody tr:nth-child(odd) {
  background-color: #ddd;
}

/* Focus and hover styling */

table.inorder th button:focus,
table.inorder th button:hover {
  padding: 2px;
  border: none;
  outline: none;	
}

table.inorder th button:focus span,
table.inorder th button:hover span {
  right: 2px;
  border: none;
  outline: none;	
}

table.inorder th:not([aria-sort]) button:focus span::after,
table.inorder th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
  border: none;
  outline: none;	
}


.RAFFLE h2 { color: #07366A; }

.RAFFLE div.winnersReport table thead td { background-color: #744063; color: #FFF; font-weight:bold; border-right: 2px solid white;}

table.Raffle th {background-color: #713860; color: #fff; height: 40px; font-weight:bold; }

table.Raffle tbody tr:nth-child(even) {
            background-color: #744063;
        }
@media only screen and (max-device-width: 480px){
  .scanButton {
  	display: block;
  }
}